.curve-top {
    position: relative;
    background-color: rgba(243, 242, 255, 1);
    ; 
    width: 100%; 
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
  }
  
  .curve-top::before {
    content: '';
    position: absolute;
    top: -50px; 
    left: 0;
    right: 0;
    height: 100px; /* Adjust the height of the curve */
    background-color: rgba(243, 242, 255, 1);/* Set the same background color as the div */
    border-top-left-radius: 60%; 
  border-top-right-radius: 60%;
  }
  .curve-top::after {
    content: '';
    position: absolute;
    bottom: -50px; 
    left: 0;
    right: 0;
    z-index: -1;

    height: 100px; /* Adjust the height of the curve */
    background-color: rgba(243, 242, 255, 1);/* Set the same background color as the div */
    border-bottom-left-radius: 60%; /* Bottom border radius of 50% */
  border-bottom-right-radius: 60%; /* This creates a circular shape, adjust as needed */
  }