@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
.picTure {
  width: 100%;
  aspect-ratio: 100 / 101; /* This will maintain a 9:10 aspect ratio */
}
.picTure-rectangle {
  width: 100%;
  aspect-ratio: 9 / 10; /* This will maintain a 9:10 aspect ratio */
}
.gradiantText{
  background-image: linear-gradient(103.47deg, #5B53F9 22.39%, #AC71D6 46.68%, #FF8E57 83.1%);
  color: transparent; /* Make text transparent */
  -webkit-background-clip: text; /* Apply background clip to text for webkit browsers */
  background-clip: text; /* Apply background clip to text */
  text-decoration: underline;
}

.TalkFormC{
  background: rgba(243, 242, 255, 1);
  height: auto;
}